/* ================= PETA PAGE ================= */
body{
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.9)),
    url("../img/Luwu.jpg  ") center/cover no-repeat;
  color:white;
  font-family:'Poppins', sans-serif;
}
.peta{
  max-width:1100px;
  margin:100px auto 120px;
  padding:0 24px;
  text-align:center;
  
}

/* ================= CARD PARAGRAPH ================= */
.peta-card{
  max-width:1100px;
  margin:60px auto 0;
  padding:30px 36px;
  border-radius:22px;
  background:rgba(255,255,255,.08);
  backdrop-filter:blur(12px);
  box-shadow:0 30px 80px rgba(0,0,0,.4);

  opacity:0;
  transform:translateY(60px) scale(.96);
  filter:blur(10px);
  transition:
    opacity .9s cubic-bezier(.22,.61,.36,1),
    transform .9s cubic-bezier(.22,.61,.36,1),
    filter .9s cubic-bezier(.22,.61,.36,1);
}

.peta-card p{
  font-size:16px;
  line-height:1.9;
  color:#fff;
  opacity:.92;
  text-align: justify;
}

/* ================= ACTIVE ================= */
.peta-card.active{
  opacity:1;
  transform:translateY(0) scale(1);
  filter:blur(0);
}


/* ================= TITLE ================= */
.peta h1{
  font-size:42px;
  font-weight:600;
  margin-bottom:10px;
  letter-spacing:.5px;

  opacity:0;
  transform:translateY(50px);
  filter:blur(8px);
  transition:
    opacity 1s cubic-bezier(.22,.61,.36,1),
    transform 1s cubic-bezier(.22,.61,.36,1),
    filter 1s cubic-bezier(.22,.61,.36,1);
}

/* aktif */
.peta h1.active{
  opacity:1;
  transform:translateY(0);
  filter:blur(0);
}

/* ================= MAP ================= */
.peta iframe{
  width:100%;
  height:360px;
  border-radius:26px;
  border:none;
  margin:0px 0;

  opacity:0;
  transform:translateY(60px) scale(.96);
  filter:blur(10px);
  transition:
    opacity 1.1s cubic-bezier(.22,.61,.36,1),
    transform 1.1s cubic-bezier(.22,.61,.36,1),
    filter 1.1s cubic-bezier(.22,.61,.36,1),
    box-shadow .8s ease;
}

/* aktif */
.peta iframe.active{
  opacity:1;
  transform:translateY(0) scale(1);
  filter:blur(0);
  box-shadow:0 40px 90px rgba(0,0,0,.55);
}

/* hover premium */
.peta iframe:hover{
  transform:scale(1.04);
}

/* ================= PARAGRAPH ================= */


/* aktif */
.peta p.active{
  opacity:.92;
  transform:translateY(0);
  filter:blur(0);
}

/* hover text halus */
.peta p:hover{
  opacity:1;
}

/* ================= RESPONSIVE ================= */
@media(max-width:768px){
  .peta h1{
    font-size:32px;
  }

  .peta iframe{
    height:60px;
    border-radius:18px;
  }
}
